%% -*- mode: erlang -*-
{deps, []}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.5.0"}}}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {emqx_relup, {cmd, "echo ${RELUP_TARGET_VSN:-0.1.0} | tr -d '[:space:]\r\n'"}},
            [ emqx_relup
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["EMQX Team"]}
    , {builder,
        [ {name, "Shawn"}
        , {contact, "506895667@qq.com"}
        , {website, "https://emqx.com"}
        ]}
    , {repo, "https://github.com/emqx/emqx-relup"}
    , {functionality, ["Demo"]}
    , {compatibility,
        [ {emqx, "~> 5.7"}
        ]}
    , {description, "Relup Plugin for EMQX >= 5.7.0"}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
